
            /*BARRE DE RECHERCHE*/
            .search-bar {
                padding: 0 2rem;
            }
            
            .search-bar h1 {
                margin-bottom: 1rem;
            }
            
            .search-bar p {
                margin-bottom: 1rem;
            }
            
                        /*BOITE DE TEXTE*/
            /*align item stretch Les éléments flexibles sont étirés afin que la taille de la boîte de marge sur l'axe en bloc est la même que celle de la ligne sur laquelle l'élément se trouve, 
            tout en respectant les contraintes de hauteur et de largeur.*/
            .text-box {
                display: flex;
                align-items: stretch;
                font-size: 1.2rem;
            }
            
            /*padding = marge interieure
            margin = marge exterieur qui separe les elements*/
            /*> permet de cibler les descendants direct*/
            .text-box > * {
                padding: 1rem 1.5rem;
                font-size: 1.2rem;
            }
            
            /*Ici on prend le selecteur pour tous les i a l'interieur du text-box*/
            /*Le bordeur radius sert a arrondir les angle
            respectivement haut gauche - haut droit - bas droit - bas gauche
            ici on veut les angles gauches arrondis*/
            .text-box i {
                background-color: #F2F2F2;
                border-radius: 1rem 0 0 1rem;
                
            }
            
            /*overflow sert a faire en sorte que l'input ne soit pas couper par sa boite*/
            .text-box input {
                padding-right: 0.5rem;
                border: 1px solid #F2F2F2;
                overflow: auto;
            }
            
            .text-box input::placeholder {
                font-size: 1.2rem;
                color: black;
                font-weight: bold;
            }
            
            /*Border none car il y'avait une bordure noire*/
            .text-box button {
                background-color: #0065FC;
                color: white;
                font-weight: bold;
                border-radius: 0 1rem 1rem 0;
                border: none;
                cursor: pointer;
            }
            
            .fa-sharp.fa-solid.fa-magnifying-glass {
               display: none;
            }
            
            @media (max-width: 768px) {
               .text-box .search-text {
                display: none;
            }
                .fa-sharp.fa-solid.fa-magnifying-glass {
                display: inline;
                color: white;
                background-color: inherit;
            }
            }