@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/* Les import se mettent toujours tout en haut du fichier css*/
/* * est le selecteur universel */
/*On ajoute la police sans serif si jamais l'utilisateur ne peut pas voir raleway*/
/*Box sizing border box signifie que peut importe toutes les modifs de padding margin etc 
la box de mon element gardera sa taille initiale*/
* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

body {
    margin: 0;
}

/*On veut que la couleur de tous nos textes soit la meme que le parent 
grace a inherit et ca donnera donc du noir car par defaut c'est noir.*/
/*Pour enlever le sous lignage de base on met text-decoration: none.*/
a {
    color: inherit;
    text-decoration: none;
}

            /*BARRE DE NAVIGATION*/

/*display flex permet de modifier la taille comme on veut sans avoir des problemes d'empilements d'elements sans aucune incidence sur la boite*/
/*align items center permet a ce que tous les elements soient a la meme hauteur*/
/*On veut les mettre en haut a droite donc on utilise justify content flex end*/
/*flex wrap wrap permet l'empilement des boites quand les dimensions de la fenetre se reduisent*/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*Pour specifier un id on doit mettre # suivi du nom de l'id*/
/*On creer une marge a droite du logo et grace a "auto" 
on veut que cette marge prenne toute la place dispo a droite
car sinon le logo sera en haut a droite a cause du flex end.*/
/*Le padding correspond à l'espace entre le contenu de l'élément et sa bordure
premier chiffre c'est haut bas et le deuxieme c'est gauche droite.*/
#logo {
    height: 55px;
    margin-top: 30px;
    margin-left: 1rem;
    margin-right: auto;
    padding: 0 2rem;
}

/*Pour pas que hebergement et activite soient colles on leur met un padding pour creer de l'espace*/
/*Le padding permet de créer un espace supplémentaire à l'intérieur d'un élément. 
La marge (margin) permet quant à elle de créer un espace supplémentaire à l'extérieur de l'élément.*/
/*On initialise une bordure du haut qui sera transparente mais bleue dans le hover*/
nav a {
    padding: 2em;
    border-top: 4px solid transparent;
}

/*Ici grace au :hover nous cherchons a faire en sorte que la bordure du haut soit colorier en bleue 
lorsque l'utilisateur pointe son curseur sur nos elements de nav.*/
/*Sans l'attribut solid ma bordure ne s'affichait pas*/
nav a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

/*Pour specifier une class on doit mettre un . suivi du nom de la class*/
.nav-bar {
    display:flex ;
}

/*=> Tous les liens qui sont dans la class subnav. 
Ici on cherche a centrer nos elements dans les dimensions reduites de la page*/
/*Ici on veut modifier la dimension de nos liens 
lorsque la taille max de la page est de 768px.*/
/*Quand le texte descend je veux que ma div prenne toute la place dispo grace a flex basis 100%*/
@media (max-width: 768px){
.nav-bar {
    flex-basis: 100%;
    text-align: center;
    }
 
/*Il faut que dans ces dimensions apparaisse une sub nav grise
qui devient bleue quand curseur sur un element.*/
/*Grace au flex basis, dans ces dimensions notre navabr prendra 100% de sons espace
et nos a prendront a chacun 50%*/
.nav-bar a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 4px solid #F2F2F2;
    }

/*On veut que sur ces dimensions la barre bleue du haut soit tranferer en bas.
Nous allons donc rajoute une barre en bas et rendre invisible la barre du haut.*/
.nav-bar a:hover {
    border-bottom-color: #0065FC;
    border-top-color: transparent;
    color: #0065FC;
}
}

            /*BARRE DE RECHERCHE*/
.search-bar {
    padding: 0 2rem;
}

.search-bar h1 {
    margin-bottom: 1rem;
}

.search-bar p {
    margin-bottom: 1rem;
}

            /*BOITE DE TEXTE*/
/*align item stretch Les éléments flexibles sont étirés afin que la taille de la boîte de marge sur l'axe en bloc est la même que celle de la ligne sur laquelle l'élément se trouve, 
tout en respectant les contraintes de hauteur et de largeur.*/
.text-box {
    display: flex;
    align-items: stretch;
    font-size: 1.2rem;
}

/*padding = marge interieure
margin = marge exterieur qui separe les elements*/
/*> permet de cibler les descendants direct*/
.text-box > * {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

/*Ici on prend le selecteur pour tous les i a l'interieur du text-box*/
/*Le bordeur radius sert a arrondir les angle
respectivement haut gauche - haut droit - bas droit - bas gauche
ici on veut les angles gauches arrondis*/
.text-box i {
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    
}

/*overflow sert a faire en sorte que l'input ne soit pas couper par sa boite*/
.text-box input {
    padding-right: 0.5rem;
    border: 1px solid #F2F2F2;
    overflow: auto;
}

.text-box input::placeholder {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

/*Border none car il y'avait une bordure noire*/
.text-box button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border: none;
    cursor: pointer;
}

.fa-sharp.fa-solid.fa-magnifying-glass {
   display: none;
}

@media (max-width: 768px) {
   .text-box .search-text {
    display: none;
}
    .fa-sharp.fa-solid.fa-magnifying-glass {
    display: inline;
    color: white;
    background-color: inherit;
}
}

            /*FILTRES*/
.filter-list {
    display: flex;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.filter-list h1 {
    /*margin-bottom: 0;*/
}

/*Le logo famille etait ecrase a la vertical. 
J'ai donc enlever le padding puis agrandi la taille des font
pour ensuite les place manuellement au centre des cercles*/
.filter i {
    color: #0065FC;
    background-color: #deebff;
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: all 100ms;
}

.filter span {
    font-weight: bold;
    padding: 0 1rem;
}

.filter:hover {
    background-color: #f3f8ff;
    transform: scale(1.02);
    cursor: pointer;
}

            /*RESULTATS DE RECHERCHE*/
.search-results {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-results i {
    color: #0065FC;
    width: 2rem;
    height: 2rem;
    border: 1px solid #deebff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}